##--------------------------------------------
##latex
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
# beamer
*.nav
*.pre
*.snm
*.vrb
# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
#pdf main
main.pdf
*.synctex.gz
.Rhistory

##hidden sytsem files
.DS_Store
Thumbs.db
*.bat
